# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Data-Structure\1. Address Book MS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
